version: "2"

services:
  viper:
    build: viper
    hostname: viper
    volumes:
    - /viper:/viper
    ports:
    - 8080:8080
    - 9090:9090
    environment:
    - API_PORT=8080
    - WEB_PORT=9090
    restart: always

volumes:
  viperdb:
    driver: local
